$mobile: 1160px;


@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content
  }
}

.Services_wrapper{
  background: #cfcfcf;

  .Services{
    height: 317px;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    @include mobile{
      width: 100%;
      height: auto;
    }
    .title {
      font-size: 50px;
      font-weight: 600;
      text-align: center;
    }
    .line {
      width: 100px;
      height: 5px;
      background: #af9a7d;
      margin-top: 15px;
      margin-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
    }
    .block_container{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include mobile{
        justify-content: center;
      }
    }


  }
}
.service_block{
  text-align: center;
  @include mobile{
   margin-bottom: 30px;
  }
 .name{
   margin-top: 10px;
  font-size: 20px;

 }
  .subName{
    width: 260px;
    margin-top: 10px;
    font-size: 19px;

  }
  .svg{
    font-size: 50px;
    color: #af9a7d;
  }
}


