$mobile: 1160px;


@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content
  }
}

.Filter_wrapper{
  padding-bottom: 200px;
  .filters_result{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    @include mobile{
      width: 100%;
      justify-content: center;
    }
    .btn a {
      font-size: 16px;
      width: 130px;
      height: 40px;
    }
  }
  .search-title{
    margin-top: 100px;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
  }
  .img {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 60vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    img{
      position: absolute;
      width: 100%;
      @include mobile{
        height: 100%;
      }
    }
  }
.minmax{
  width: 100px;
  margin-right: 10px;
}
.check{
  margin-top: 5px;
  font-size: 17px;
}
  .notFound{
    margin-top: 70px;
    font-size: 32px;
    text-align: center;
  }
  .banner {

    width: 820px;
    height: 200px;
  }
  .room_block_wrapper {
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .btn a{
    width: 190px;
  }

  .img_room{
    width: 270px;
    height: 164px;
  }
  .overlay {

    height: 164px;
  }

  .filters{
    display: flex;

    justify-content: space-between;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    @include mobile{
      justify-content: center;
      width: 100%;
    }
    .filter_name{
      font-size: 18px;
      margin-bottom: 10px;

    }
    .a_filter{
      @include mobile{
        margin-top: 30px;
        width: 51vw;

      }
    }
    .capacity{
      font-size: 16px;
      padding-right: 150px;
    }
  }

}
