$mobile: 1160px;


@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content
  }
}


.room_wrapper{
  padding-bottom: 50px;
  .img {
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    min-height: 500px;
    img {
      position:absolute;
      width:100%;
   @include mobile{

     width: auto;
   }
    }
  }
  .room_content{
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    @include mobile{
      width: 100%;
    }
  }
  .pic_wrapper{
    margin-top: 80px;

    display: flex;
    justify-content: space-between;
    @include mobile{
    display: block;
    }
    .pic{
      width: 356px;
      height: 200px;
      @include mobile{
       width: 90vw;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .detailsAndInfo{
    margin-top: 30px;
    display: flex;
    @include mobile{
      display: block;
    }
    h3{
      font-size: 28px;
    }
    .Details {
      width: 50%;
      margin-right: 100px;
      @include mobile {
        margin-left: auto;
        margin-right: auto;
        width: 80vw;

      }
      p{
        font-size: 17px;
        line-height: 1.5;
      }

    }
    .info{
      @include mobile {
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
      }
      p{
        font-size: 20px;
      }
    }
  }
  .ex-title{
    margin-top: 50px;
    font-weight: 600;
    font-size: 20px;
    @include mobile{

      width: 80vw;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .extras{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    @include mobile{
      display: block;
      width: 80vw;
      margin-left: auto;
      margin-right: auto;
    }
    p{
      font-size: 19px;
    }
  }
  .banner {

    width: 820px;
    height: 200px;
    @include mobile{
      width: 100%;
      height: auto;
    }
  }
  .btn a{
    width: 190px;
  }
}